<div  style="background-color: #df9cdf; ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e79ae7; align-content: stretch;">
        <div class="container-fluid" >
            <a href="#" class="navbar-brand">
                <img src="../assets/Conways_Jewellers_Logo-1024x427.jpg" height="100" >
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active" style="font-weight:300; font-size:large; padding: 20px 20px; text-align: center;">Home</a>
                    <button (click)="searchItemMethod()"> <a href="#" class="nav-item nav-link" style="font-weight:300; font-size:large; padding: 20px 20px; text-align: center;" routerLink="/product-component">Earrings</a></button>
                    <a href="#" class="nav-item nav-link" style="font-weight:300; font-size:large; padding: 20px 20px; text-align: center;">Necklace</a>
                    <a href="#" class="nav-item nav-link" style="font-weight:300; font-size:large; padding:20px 20px; text-align: center;">Rings</a>
                    <a href="#" class="nav-item nav-link" style="font-weight:300; font-size:large; padding: 20px 20px; text-align: center;">Bracelet</a>
                    
                </div>
                <div class="navbar-nav ms-auto">
                    
                    <button style="width:190px; margin-right: 130px; border: none; background: none;"><img src="../assets/gift-fill.svg" height="30" width="60" style="margin-right:130px;"><a >Rewards & Coupons</a></button>
                                      <button style="width:80px; margin-right: 90px; border:none; background: none;"><img src="../assets/cart4.svg" height="30" style="margin-right: 110px;">Cart</button>
                    <button style="width:80px; margin-right: 70px; border: none; background: none;"><img src="../assets/heart-fill.svg" height="30" style="margin-right: 90px;" >Wishlist</button>

                </div>
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>
<!-- <router-outlet></router-outlet> -->
<app-homepage></app-homepage>



